*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.coisa{
    margin: auto;
}
tbody >tr >td >a{
    color: black;
    text-decoration: none;
    font-size: 20px
}
.inpus{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.inpus input[type=text] {
        height: 40px;
        width: 200px;
        padding-left: 20px;
        background-color: rgb(209, 190, 190);
        border: none;
        border-radius: 8px;
        margin-right: 5px;
        color: white;
}
.inpus input[type=submit] {
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        height: 40px;
        line-height: 20px;
        list-style: none;
        margin: 0;
        outline: none;
        padding: 10px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
}
.inpus input[type=submit]:hover {
    background-color: yellow;
        color: #121212;
}
